<mat-card layout-fill class="card" class="mat-elevation-z4">
	<mat-card-title>Ticket #Id</mat-card-title>
	<mat-card-content>
		<span>Barcode</span>
		<!-- <p>This card has divider and indeterminate progress as footer</p> -->
		<!-- <p>{{ longText }}</p> -->
	</mat-card-content>
	<mat-divider inset></mat-divider>
	<mat-card-actions>
		<button mat-button>Show</button>
		<!-- <button mat-button>SHARE</button> -->
	</mat-card-actions>
	<!-- <mat-card-footer>
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</mat-card-footer> -->
</mat-card>