<h2 mat-dialog-title>{{title}}</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<mat-dialog-content >	
		<mat-form-field appearance="fill" >
			<mat-label>Enter some name</mat-label>
			<input matInput placeholder="Name" formControlName="name">
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Enter location</mat-label>
			<input matInput placeholder="Location" formControlName="location">
		</mat-form-field>
		<mat-form-field appearance="fill" >
			<mat-label>Enter type</mat-label>
			<input matInput placeholder="Type" formControlName="type">
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Choose a date</mat-label>
			<input matInput [matDatepicker]="picker" formControlName="date">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>
	</mat-dialog-content>

	<mat-dialog-actions class="action">
		<button mat-raised-button type="button" (click)="close()">Close</button>
		<button [disabled]="!form!.valid" type="submit" mat-raised-button color="primary">Save</button>
	</mat-dialog-actions>
</form>