<div class="list-button-wrapper">
	<h1 class="list-title">Tickets</h1>
	<button [matMenuTriggerFor]="menu" mat-raised-button color="primary">
		Actions
	</button>
</div>
<div class="tickets-table-wrapper mat-elevation-z8">
	<table mat-table [dataSource]="tickets">
		<div class="loading-shade" *ngIf="loading">
			<mat-spinner *ngIf="loading"></mat-spinner>
		</div>
		<ng-container matColumnDef="id">
			<th mat-header-cell *matHeaderCellDef> ID </th>
			<td mat-cell *matCellDef="let element"> 
				{{element.id}}
			</td>
		</ng-container>
		<ng-container matColumnDef="validationCode">
			<th mat-header-cell *matHeaderCellDef> Validation Code </th>
			<td mat-cell *matCellDef="let element"> {{element.validationCode}} </td>
		</ng-container>

		<ng-container matColumnDef="sold">
			<th mat-header-cell *matHeaderCellDef> Sold </th>
			<td mat-cell *matCellDef="let element"> {{element.sold}} </td>
		</ng-container>

		<ng-container matColumnDef="entered">
			<th mat-header-cell *matHeaderCellDef> Entered </th>
			<td mat-cell *matCellDef="let element"> {{element.entered}} </td>
		</ng-container>
		<ng-container matColumnDef="event">
			<th mat-header-cell *matHeaderCellDef> Event </th>
			<td mat-cell *matCellDef="let element">
				{{element.event.name}}
			</td>
		</ng-container>
		<ng-container matColumnDef="action">
			<th mat-header-cell *matHeaderCellDef> Action </th>
			<td mat-cell *matCellDef="let element">
				<button [disabled]="element.sold" mat-raised-button color="primary" type="button" (click)="sellTicket(element)">Sell</button>
			</td>
		</ng-container>	
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
</div>
<mat-menu #menu="matMenu">
	<button mat-menu-item (click)="openValidateModal()">Validate ticket</button>
	<button mat-menu-item (click)="openCreateModal()">Create ticket</button>
</mat-menu>