<header class="header">
	<mat-toolbar color="primary" class="header-toolbar toolbar">
		<div class="toolbar-content">
			<span>Tickets Control</span>
			<span class="spacer"></span>
			<button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="icon-button with menu icon">
				<mat-icon>menu</mat-icon>
			</button>
		</div>
	
	</mat-toolbar>
</header>

<mat-menu #menu="matMenu">
	<a mat-menu-item [routerLink]="['/events']">Events</a>
	<a mat-menu-item [routerLink]="['/tickets']">Tickets</a>
</mat-menu>